= form_with(model: [project]) do |f|
  - if project.errors.any?
    %div.border.rounded-md.my-3
      %h2.text-center.bg-red-300.p-2
        Alguns erros impediram o projeto de ser criado
      
      %ul 
        - project.errors.each do |error|
          %li.p-2.border-b
            = error.full_message

  %section.flex.justify-between
    .div{class: "w-8/12"} 
      = f.text_field :title, placeholder: 'Nome do projeto', class: 'w-full rounded-lg shadow border-gray-400 italic'

    = f.submit class: 'bg-green-200 hover:bg-green-300 border shadow rounded-xl border-green-300 hover:border-green-400 p-2 cursor-pointer hover:shadow-none'