%section.flex.justify-between.items-center.bg-gray-700.border.rounded.border-gray-600.p-3.mb-3
  %h2.text-xl.text-white
    Projetos

  = link_to 'Novo Projeto', new_project_path, class: 'inline-block border rounded bg-white p-2 text-gray-700 hover:text-white hover:bg-gray-700'

%section.bg-gray-700.border.rounded.border-gray-600.p-3
  - @projects.each do |project|
    = render project
