%section.text-white.border.rounded.border-gray-600.bg-gray-700.p-3.mb-3
  %h2.text-xl.text-center
    = @project.title

%section.text-white.border.rounded.border-gray-600.bg-gray-700.p-3
  = turbo_frame_tag :content, src: project_works_path(@project)
