.mb-3.py-4.px-10.border.shadow.rounded-lg
  %div
    %h2.text-4xl.text-center.font-extralight.italic 
      = @project.title
  
  %hr.my-2/
  
  %div
    = turbo_frame_tag :content, src: project_works_path(@project) 
